@import '~bootstrap/scss/bootstrap';

html {
  background: linear-gradient(45deg, #4158d0 0%, #c850c0 40%, #ffcc70 90%);
  height: 100%;
}
body {
  background-color: rebeccapurple;
  color: yellow;
  border-radius: 15px;
  border: 10px dotted #8afc2d;
}
